:root {
    --font: #FF6D71;
    --fontDarker: #FF4247;
    --gradientFrom: #FFEBDA;
    --gradientTo: #FFAE6D;
    /*ffbc42  24BEDB;*/
}

html {
    box-sizing: border-box;
    font-family: 'Raleway', arial, helvetica, sans-serif;
    font-size: 24px;
    color: var(--font);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

svg {
    fill: var(--fontDarker);
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(var(--gradientFrom), var(--gradientTo));
}

#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--gradientFrom);
    width: 100vw;
    height: 10vw;
    z-index: 5;
}

#umia {
    width: 20%;
    margin-top: 2.5%;
    margin-left: 2%;
}

#menu {
    width: 8%;
    margin-top: 1%;
    margin-right: 2%;
}

.hero {
    display: grid;
    flex: 0 0 100%;
    grid-template-columns: 15% 17.5% 17.5% 17.5% 17.5% 15%;
    grid-template-rows: 14.5vw 35.5vw 35.5vw 14.5vw 14.5vw 14.5vw 14.5vw 35.5vw;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#plate {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

#center-plate {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
}

.rotate {
    fill: var(--font);
    transform: rotate(2turn);
    transition: 1s;
}

.antirotate {
    fill: var(--font);
    transform: rotate(-2turn);
    transition: 1s;
}

.hide {
    visibility: hidden;
}

#plate, #center-plate, #umia-title, #CuisineVoyages, #address, #telephone, #phone-call-out, #map-frame {
    fill: var(--font);
}

#umia-title {
    width: 100%;
    padding-bottom: 42%;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    align-self: end;
    margin-left: -15%;
    margin-bottom: -30%;
}

#CuisineVoyages {
    fill: var(--font);
    padding-bottom: 20%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
}

#phone-call-out {
    grid-column-start: 2;
    grid-row-start: 7;
    width: 40%;
    margin-left: 32%;
    
}

#telephone {
    width: 70%;
    margin-left: 20%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 7;
    padding-bottom: 20%;
}

#address {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 8;
    margin-left: 3%;
}

main {
    display: grid;
    flex: 0 0 100%;
    grid-template-columns: 14% repeat(10, 7.2%) 14%;
    grid-template-rows: 18vw 36.5vw 36.5vw 18vw 15vw 15vw 36vw 18vw 15vw 73vw 18vw 18vw 15vw 36vw 15vw 18vw 22vw 14.5vw 14.5vw 22.5vw 18vw 12vw 45.5vw;
}

#location-pin {
    grid-column-start: 7;
    grid-column-end: 9;
    margin-left: -50%;
    width: 100%;
    align-self: end;
    padding-bottom: 120%;
}

#map-frame {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 4;
}

.map {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 2;
    margin-top: 9%;
    margin-left: -2.5%;
    width: 105%;
}

#map {
    width: 100%;
}

#clock {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 5;
    width: 100%;
}

#clock svg > path {
    fill: var(--gradientFrom);
}

#hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 7;
}

#hours p {
    text-align: center;
}

#photo-gallery {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 9;
    width: 100%;
}

#fond {
    fill: var(--gradientFrom);
}

#gallery-frame {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 10;
}

#gallery {
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row-start: 10;
    width: 100%;
    margin-top: 6%;
    margin-left: -5.5%;
}

#gallery img {
    width: 100%;
}

#quality-icon {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 12;
    margin-left: -9%;
    width: 120%;
}

#inner-quality-icon {
    fill: var(--gradientFrom);
}

#philosophy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 14;
    margin-left: -20%;
}

#connected-icon {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 16;
    width: 120%;
    margin-left: -9%;
}

g[id^="PART"] {
    fill: var(--gradientFrom);
}

#connection-frame {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 17;
    grid-row-end: 21;
}

#facebook-icon {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 19;
    width: 100%;
}

circle[id="fb"] {
    fill: var(--gradientFrom);
}

#instagram-icon {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 19;
    width: 100%;
}

#tripadvisor-icon {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 17;
    align-self: end;
    margin-bottom: -50%;
    width: 100%;
}

#reservation {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 22;
    grid-row-end: 23;
}

#reservation path {
    stroke: var(--fontDarker);
}

.cls-2 {
    fill: var(--fontDarker);
}

#footer {
    display: flex;
    justify-content: space-between;
    font-size: .75rem;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 23;
    grid-row-end: 24;
    align-self: end;
    margin: 0 0.3rem 0.4rem 0.3rem;
}

a { 
    color: var(--fontDarker);
    text-decoration: none;
}

a:visited {
    fill: var(--font);
}

h1 {
    margin: 2.5rem;
}

p {
    margin: .3rem;
    color: var(--fontDarker);
}

