:root {
    --font: #FF6D71;
    --fontDarker: #FF4247;
    --circles: #2c3e50;
    --gradientFrom: #FFEBDA;
    --gradientTo: #FFAE6D;
    /*ffbc42  24BEDB;*/
}

html {
    box-sizing: border-box;
    font-family: 'Raleway', arial, helvetica, sans-serif;
    font-size: 24px;
    color: var(--font);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(var(--gradientFrom), var(--gradientTo));
}

#header {
    position: fixed;
    justify-content: space-between;
    background-color: var(--gradientFrom);
    width: 100vw;
    height: 10vw;
    z-index: 5;
}

.hero {
    display: grid;
    flex: 0 0 100%;
    grid-template-columns: 15% 17.5% 17.5% 17.5% 17.5% 15%;
    grid-template-rows: 14.5vw 35.5vw 35.5vw 14.5vw 14.5vw 14.5vw 14.5vw 35.5vw;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#plate {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

#center-plate {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
}

.rotate {
    fill: var(--font);
    transform: rotate(2turn);
    transition: 1s;
}

.antirotate {
    fill: var(--font);
    transform: rotate(-2turn);
    transition: 1s;
}

.hide {
    display: none;
}

#plate, #center-plate, #umia-title, #CuisineVoyages, #address, #telephone, #phone-call-out, #map-frame {
    fill: var(--font);
}

#umia-title {
    width: 100%;
    padding-bottom: 42%;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    align-self: end;
    fill: var(--fontDarker);
    margin-left: -15%;
    margin-bottom: -20%;
}

#CuisineVoyages {
    fill: var(--font);
    padding-bottom: 20%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
}

#phone-call-out {
    grid-column-start: 2;
    grid-row-start: 7;
    width: 30%;
    justify-self: end;
}

#telephone {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    padding-bottom: 20%;
}

#address {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 8;
}

main {

    display: grid;
    flex: 0 0 100%;
    grid-template-columns: 14% repeat(10, 7.2%) 14%;
    grid-template-rows: 18vw 36vw 36vw 150vw;
}

#location-pin {
    grid-column-start: 7;
    grid-column-end: 9;
    margin-left: -50%;
    width: 100%;
    align-self: end;
    padding-bottom: 120%;
    fill: var(--fontDarker);
}

#map-frame {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
}

.map {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 2;
    margin-top: 11%;
}

#map {
    width: 100%;
}

a { 
    color: var(--font);
    text-decoration: none;
}

.hours,
.philosophy {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hours {
    grid-column-start: 1;
    grid-row-start: 3;
}

.philosophy {
    grid-column-start: 2;
    grid-row-start: 5;
}

h1 {
    margin: 2.5rem;
}

p {
    margin: .3rem;
}

#schedule {
    width: 10vw;
}

